.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

//Datepicker
.booking {
  background-color: #f0f0f0;
  .datepicker {
    padding: 0 1rem;
    .check {
      padding: 1rem 0;
      border-bottom: 1px solid #d9d9d9;

      &.btnCheck {
        display: flex;
        justify-content: right;
        // background-color: #f0f0f0;
        border-bottom: none;
        // padding: 0;
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .booking {
    .datepicker {
      display: flex;
      justify-content: space-between;
      .check {
        border-right: 1px solid #d9d9d9;
        border-bottom: none;
        flex: 1;
        padding-left: 1rem;
        &.btnCheck {
          justify-content: center;
          border: none;
        }
      }
    }
  }
}
.calContainer {
  .cal {
    --flex-gap: 0.75rem;
    gap: var(--flex-gap);
    display: flex;
    flex-wrap: wrap;

    // gap: 0.75rem;
    span {
      --flex-items: 7;
      width: calc(
        (100% / var(--flex-items)) -
          (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
      );
      aspect-ratio: 1 / 1;

      display: flex;
      justify-content: left;
      align-content: center;
      border: 1px solid black;
      // border-bottom: 1px solid black;
      // border-right: 1px solid black;
      cursor: pointer;
      &:hover {
        background-color: #efefef;
      }
      &.active {
        background-color: lightyellow;
      }
    }
  }
}
