.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// booking steges
.top {
  .bookingContent {
    margin-bottom: 1rem;
    text-align: center;
  }
  .wrappBookingContent {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      display: flex;
      align-items: center;
      flex: 0 0 33.33%;
    }
    .emptybox {
      flex: 0 0 33.33%;
    }
  }
  .stages {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;

    .number {
      // flex: 1;
      .flex-circle {
        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #d9d9d9;
          width: 2.5rem;
          height: 2.5rem;
          margin: auto;
        }
      }
    }
    .emptyStage {
      border-bottom: 2px solid black;
      flex: 0 0 10%;
    }
  }
}

//Datepicker

.booking {
  background-color: #f0f0f0;
  .datepicker {
    padding: 0 1rem;
    .check {
      padding: 1rem 0.75rem;
      border-bottom: 1px solid #d9d9d9;

      &.btnCheck {
        display: flex;
        justify-content: right;
        // background-color: #f0f0f0;
        border-bottom: none;
        // padding: 0;
      }

      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
      }

      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: $ipad-breakpoint) {
  .booking {
    .datepicker {
      display: flex;
      justify-content: space-between;
      .check {
        border-right: 1px solid #d9d9d9;
        border-bottom: none;
        flex: 1;
        padding-left: 1rem;
        &.btnCheck {
          justify-content: center;
          border: none;
        }
      }
    }
  }
}
.calContainer {
  background-color: #f7f4ff;
  padding: 1rem;
  .bookingInfo {
    padding-bottom: 1rem;
    .bookingHead {
      font-size: $select-date-head;
      font-weight: $bold;
      margin-bottom: 0.5rem;
    }
    .bookingText {
      font-size: $text-booking;
    }
  }

  .calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .cal {
    --flex-gap: 0.75rem;
    gap: var(--flex-gap);
    display: flex;
    flex-wrap: wrap;

    // gap: 0.75rem;
    span {
      --flex-items: 7;
      width: calc(
        (100% / var(--flex-items)) -
          (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
      );
      aspect-ratio: 1 / 1;

      display: flex;
      justify-content: left;
      align-content: center;
      border: 1px solid black;
      // border-bottom: 1px solid black;
      // border-right: 1px solid black;
      cursor: pointer;
      &:hover {
        background-color: #efefef;
      }
      &.active {
        background-color: lightyellow;
      }
    }
  }
}

// Choosen dates
.select-container {
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.selected-dates-section {
  background-color: #f0f0f0;
  text-align: center;
  max-width: 384px;

  @media (min-width: $desktop-breakpoint) {
    max-height: 438px;
  }
  .header-container {
    background-color: #d9d9d9;
    padding: 1rem 0;
  }

  .dates-wrapper {
    padding: 1rem 1rem 0 1rem;

    p {
      margin: 0.5rem;
    }
    .selected-dates-container {
      display: flex;
      justify-content: space-between;

      .invisible-link {
        flex: 0 0 45%;
        background-color: white;
        .single-date-container {
          .day-container {
            background-color: #d9d9d9;
            padding: 0.25rem 0.5rem;
            .selected-day {
              font-size: 1.25rem;
            }
          }
          .selected-date {
            font-size: 0.75rem;
          }
          .selected-month {
            font-size: 1.25rem;
          }
        }
      }
    }
    .details-container {
      padding: 2rem 0;
      .booking-details {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .change-search {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    background-color: red;
  }
}
// _______________________

//Offer-card
.offers-container {
  .offers {
    .offer-card {
      .offer-content {
        margin: 1.5rem 0;
        .include-contianer {
          ul {
            li {
              list-style-type: disc;
            }
          }
        }
      }
      .offer-selected {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .offers {
    .offer-card {
      display: flex;
      justify-content: space-between;
      .offer-picture {
        flex: 0 0 30%;
      }
      .offer-content {
        flex: 0 0 30%;
        margin: 0;
        .include-contianer {
        }
      }
      .offer-selected {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: end;
      }
    }
  }
}
