//Style för buttons
.btn {
  background-color: $btn-color-primary;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  color: $btn-text-primary-color;
}

.btn-secondary {
  color: $btn-text-secondary-color;
  background-color: $btn-color-secondary;
  border: $btn-stroke-secondary;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  min-width: 150px;
  min-height: 48px;
  text-align: center;
}

.btnOffer {
  background-color: red;
  flex: 1;
  text-align: center;
}

.guestModal {
  text-align: left;
}
