//Style för buttons
.btn {
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: $m-font-size;
  line-height: 1.24;
  font-family: "MonumentGrotesk-Regular";
  letter-spacing: 0.8px;
  transition: 0.9s background-color, 0.9s color;
  &:focus {
    outline: 3px solid $btn-text-primary-color;
    outline-offset: 0px;
  }

  &.btn-primary {
    background-color: $btn-color-primary;
    color: $btn-text-primary-color;
    &:hover {
      background-color: $btn-color-hover;
    }
    &:active {
      background-color: $btn-color-enable;
    }
  }
  &.btn-secondary {
    border: $btn-stroke-secondary;
    &:hover {
      background-color: $btn-color-primary;
      color: $btn-text-primary-color;
    }
    &:active {
      background-color: $btn-color-hover;
    }
  }
  &.btn-tetriary {
    &:hover {
      text-decoration: underline;
    }
  }
  &.btn-chat {
    background-color: #04aa6d;
    color: white;
    position: fixed;
    bottom: 23px;
    right: 28px;
  }

  &.btn-chat-mb {
    bottom: 80px;
  }
  &.btn-booking {
    min-width: 180px;
  }
  &.btn-close {
    background-color: red;
  }
  &.btn-open {
    background-color: #04aa6d;
  }
  &.btn-full-bleed {
    border-radius: 0;
    display: block;
  }
}
.guestModal {
  text-align: left;
}

// _________________________

//radio buttons

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  --flex-gap: 0.75rem;
  gap: var(--flex-gap);
  .input-container {
    position: relative;
    // height: 80px;
    // margin: 0.5rem;
    --flex-items: 2;

    width: calc(
      (100% / var(--flex-items)) -
        (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
    );
    aspect-ratio: 2 / 1;

    &.input-container-one {
      width: 100%;
      aspect-ratio: 8 / 1;
    }
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid #079ad9;
      border-radius: 5px;
      padding: 1rem;
      transition: transform 300ms ease;
    }

    .radio-tile-label {
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #079ad9;
    }

    .radio-button:checked {
      + .radio-tile {
        background-color: #079ad9;
        border: 1px solid #079ad9;
        color: white;
        transform: scale(1.01, 1.01);
      }

      + .radio-tile .radio-tile-label {
        color: white;
        background-color: #079ad9;
      }
    }
  }
}
@media (min-width: $ipad-breakpoint) {
  .radio-tile-group {
    --flex-gap: 1rem;
    gap: var(--flex-gap);
    .input-container {
      --flex-items: 3;

      width: calc(
        (100% / var(--flex-items)) -
          (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
      );
      aspect-ratio: 2 / 1;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .radio-tile-group {
    .input-container {
      --flex-items: 5;

      width: calc(
        (100% / var(--flex-items)) -
          (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
      );
      aspect-ratio: 2 / 1;
    }
  }
}

// _________________________
// icons
.cart-button {
  background-color: #04aa6d;
  padding: 0.5rem 1rem;
}
.icon {
  width: 24px;
}
