.calendar-btn {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: block;
  }
}
.slides-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  // Hide scrollbar for Firefox
  scrollbar-width: none;
  // height: 100vh;

  .slides-inner {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 2.5rem;

    @media (min-width: $desktop-breakpoint) {
      flex-wrap: wrap;
      --flex-gap: 2rem;
      gap: var(--flex-gap);
    }
    .slide {
      flex: 0 0 auto;
      width: 50%;
      // height: 100vh;
      scroll-snap-align: start;
      @media (min-width: $desktop-breakpoint) {
        --flex-items: 3;
        width: calc(
          100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) *
            var(--flex-gap)
        );
      }
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

.custom-slides-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  width: 100%;
  cursor: pointer;
  &::-webkit-scrollbar {
    display: none;
  }
  // Hide scrollbar for Firefox
  scrollbar-width: none;
  // height: 100vh;
  .custom-slides-inner {
    display: flex;
    gap: 0.75rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @media (min-width: $desktop-breakpoint) {
      // flex-wrap: wrap;
      // --flex-gap: 2rem;
      // gap: var(--flex-gap);
    }
    .custom-slide {
      flex: 1;
      scroll-snap-align: start;
      overflow: hidden;
      background-color: hotpink;
      // flex: 0 0 auto;
      // width: 100%;
      flex: 0 0 30%;
      // height: 100vh;
      @media (min-width: $desktop-breakpoint) {
        // --flex-items: 3;
        // width: calc(
        //   100% / var(--flex-items) - (var(--flex-items) - 1) / var(--flex-items) *
        //     var(--flex-gap)
        // );
      }
      img {
        // width: 100%;
        // height: auto;
        // object-fit: cover;
      }
    }
  }
}
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 20px;
  width: 20px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.dot.current-dot {
  background: #333;
}
