/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 78px;
  right: 28px;
  z-index: 9;
  /* Add styles to the form container */
  .form-container {
    position: relative;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: $color-surface-green-primary;
    color: #777;

    p {
      margin-bottom: 1rem;
    }
    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
    /* Full-width textarea */
    textarea {
      width: 100%;
      padding: 15px;
      margin: 0.5rem 0 1rem 0;
      border: none;
      border-radius: 20px;
      background: #ddd;
      resize: none;
      min-height: 200px;
      color: #777;

      /* When the textarea gets focus, do something */
      &:focus {
        background-color: #ddd;
        outline: none;
      }
    }
    .send-btn {
      display: flex;
      justify-content: end;
    }
  }
}
