.calContainer {
  background-color: #ffffff;
  padding: 1rem;
  .bookingInfo {
    margin-bottom: 2rem;
    .bookingHead {
      font-size: $select-date-head;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
    .bookingText {
      font-size: $text-booking;
      margin-top: 0.7rem;
    }
  }
  @media (min-width: $ipad-breakpoint) {
    .bookingInfo {
      margin-bottom: 3rem;
    }
  }
  .calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .move-direction {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f0e8;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      .calendar-button {
        width: 16px;
        height: 16px;
      }
    }
    .month {
      font-weight: 600;
    }
    @media (min-width: $ipad-breakpoint) {
      .move-direction {
        width: 2.5rem;
        height: 2.5rem;
        .calendar-button {
          width: 24px;
          height: 24px;
        }
      }
      .month {
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
  }
  @media (min-width: $ipad-breakpoint) {
    .calendar-navigation {
      margin-bottom: 2rem;
    }
  }

  .week-days-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    --flex-gap: 0.75rem;
    gap: var(--flex-gap);
    #week-day-text {
      --flex-items: 7;
      width: calc(
        (100% / var(--flex-items)) -
          (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
      );
      font-size: 0.75rem;
    }
  }

  @media (min-width: $ipad-breakpoint) {
    .week-days-container {
      margin-bottom: 1rem;
    }
    #week-day-text {
      font-size: 0.875rem;
    }
  }
  .cal {
    --flex-gap: 0.75rem;
    gap: var(--flex-gap);
    display: flex;
    flex-wrap: wrap;
    font-family: "MonumentGrotesk";
    // gap: 0.75rem;
    span {
      --flex-items: 7;
      width: calc(
        (100% / var(--flex-items)) -
          (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
      );
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-content: center;
      border: 1px solid black;
      // padding: 0.3rem 0.5rem;
      font-size: 1rem;
      background-color: #d9d1c5;
      cursor: pointer;
      &:hover {
        background-color: #efefef;
      }
      &.active {
        background-color: lightyellow;
      }
      // Add styles for previous and next month
      &.prev-month,
      &.next-month {
        background-color: #f3f0e8;
        cursor: default;

        &:hover {
          background-color: inherit;
        }
      }
    }
    @media (min-width: $ipad-breakpoint) {
      span {
        justify-content: left;
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
      }
    }
  }
}
