.material-checkbox {
  display: flex;
  align-items: center;
  color: #777777;
  margin-bottom: 1rem;
  font-size: $body-booking-s;

  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;

    &:checked {
      ~ .checkmark {
        background-color: #2f3300;
        border-color: #454b00;

        &:after {
          content: "";
          position: absolute;
          top: 2px;
          left: 6px;
          width: 4px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }

    &:focus {
      ~ .checkmark {
        box-shadow: 0 0 0 2px #dfec5065;
      }
    }

    &:disabled {
      ~ .checkmark {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          border-color: #4d4d4d;
        }
      }
    }
  }

  .checkmark {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    border: 2px solid #454b00;
    // border-radius: 50%;
    transition: all 0.3s;
  }

  &:hover {
    input[type="checkbox"] {
      ~ .checkmark {
        border-color: #c3cf34;
      }
    }
  }

  a {
    padding-left: 0.2rem;
    text-decoration: underline;
  }
}

.iti {
  width: 100%;
}

// @media (min-width: $desktop-breakpoint) {
//   .iti__selected-flag {
//     height: 65%;
//   }
// }

.personal-data-container {
  background-color: $color-surface-grey-secondary;
  padding: 1rem;
  margin-bottom: 2rem;
  #message {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid #bbbbbb;
  }
}
.form-container {
  // padding: 1rem;
  background-color: $color-surface-grey-secondary;
}
.card-coupons {
  .coupon-container {
    display: flex;
    gap: 12px;
    margin-bottom: 0.75rem;
  }
}
input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-bottom: 1px solid #bbbbbb;
}
input::placeholder {
  font-size: 1rem;
}
.input-field {
  width: 99%;
  //   margin-bottom: 0.75rem;
  &.if-mb {
    margin-bottom: 0.75rem;
  }
  &.if-pl {
    padding-left: 2rem;
  }
}

.input-wrapper {
  position: relative;
  margin-bottom: 0.75rem;
  width: 100%;
}

.form-flex {
  #selectCountry {
    font-family: "AmbitRegular";
    color: #808080;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid #bbbbbb;
  }
  &.form-flex-mobile {
    display: flex;
    gap: 0.75rem;
  }
}
@media (min-width: $ipad-breakpoint) {
  .form-flex {
    display: flex;
    gap: 12px;
  }
}

// ________

.cancel-continue-buttons {
  a {
    display: flex;
    align-items: center;
    gap: 0.75px;
    justify-content: center;
  }
  .cancel {
    margin-bottom: 1rem;
  }
}
@media (min-width: $desktop-breakpoint) {
  .cancel-continue-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
