.hero {
  margin-top: 4rem;
  position: relative;
  height: 80vmin;
  @media (min-width: $desktop-breakpoint) {
    margin-top: 9rem;
  }
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .bg-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: $color-surface-grey-primaryi;
    @media (min-width: $desktop-breakpoint) {
      top: 30%;
      left: 20%;
      transform: translate(-20%, -30%);
    }
    .mbl {
      margin-left: 2rem;
      @media (min-width: $desktop-breakpoint) {
        margin-left: 17rem;
      }
    }
  }
  .booking-button {
    min-width: 240px;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -6%);
    @media (min-width: $desktop-breakpoint) {
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
    }
  }
}
