.input-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 16px;
}

.icon {
  width: 20px;
  height: 20px;

  &.hero-icon {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: $desktop-breakpoint) {
  .icon {
    width: 20px;
    height: 20px;
    &.hero-icon {
      width: 24px;
      height: 24px;
    }
  }
}
.icon-back-button {
  width: 16px;
  height: 16px;
}
