.package-price {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;

  &.package-price-none {
    display: none;
  }
}
.package-text {
  margin: 1.25rem 0 0.5rem 0;
}
.package-list {
  li {
    padding: 1rem 0;
    border-top: 0.5px solid $color-text-primary;
  }
}
