.select-container {
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    // justify-content: space-between;
    gap: 24px;
    margin-bottom: 4rem;
  }

  .selected-dates-section {
    margin: auto;
    background-color: $color-surface-grey-secondary;
    text-align: center;
    margin-bottom: 1rem;

    max-height: 470px;
    @media (min-width: $desktop-breakpoint) {
      margin: 0;
      position: sticky;
      top: 9rem;
      max-width: 384px;
      // max-height: 438px;
      // flex: 0 0 33%;
    }
    &.sds-page-two {
      max-height: 450px;
      padding-bottom: 1.5rem;
      @media (min-width: $desktop-breakpoint) {
        max-height: 427px;
      }

      a {
        width: 90%;
        margin: auto;
      }
    }

    &.sds-optinal {
      max-height: 500px;
    }
    &.hide-selected-dates-section {
      display: none;
      @media (min-width: $ipad-breakpoint) {
        display: block;
        max-height: 470px;
      }
    }

    &.selected-dates-section-mw {
      max-height: 495px;
      @media (min-width: $desktop-breakpoint) {
        max-height: 470px;
      }
    }
    .header-container {
      background-color: $color-surface-grey-tertiary;
      padding: 1rem 0;
    }

    .dates-wrapper {
      padding: 1.5rem 1rem 0 1rem;

      p {
        margin: 0.5rem;
      }
      .selected-dates-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        .invisible-link {
          border: 1px solid #221504;
          flex: 0 0 45%;
          // background-color: white;
          .single-date-container {
            .day-container {
              background-color: #221504;
              padding: 0.25rem 0.5rem;
              .selected-day {
                font-size: 1.25rem;
                color: $color-text-Invert;
                font-family: "MonumentGrotesk";
              }
            }
            .selected-date {
              margin-top: 1.5rem;
              font-family: "MonumentGrotesk";
              text-transform: uppercase;

              color: #999;
            }
            .selected-month {
              font-size: 1.25rem;
              margin-bottom: 1.5rem;
            }
          }
        }
      }
      .details-container {
        padding: 2rem 0;
        .booking-details {
          text-align: left;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .change-search {
      display: flex;
      justify-content: center;
      padding: 0.75rem 0;
      background-color: red;
    }

    // ___________
    // Boooking card
    .booking-container {
      background-color: $color-surface-grey-secondary;
      text-align: left;
      padding: 1.5rem;
      .booking-selected {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        .booking-img {
          flex: 0 0 30%;
        }

        .booking-text {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }
      .booking-info-container {
        margin-bottom: 1rem;

        .booking-info {
          display: flex;
          background-color: $color-surface-grey-primaryi;

          &.bi-bg {
            background-color: $color-surface-grey-tertiary;
          }

          .selected-date {
            padding: 0.5rem 1rem 0.5rem 0.5rem;

            &.sd-width {
              flex: 0 0 30%;
            }
          }
          .list-includes {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            li {
              list-style: none;
              margin: 0;
            }
          }
          &.bi-borderrb {
            // border-bottom: 2px solid black;
            // padding-bottom: 1rem;
          }
          &.b-flex-sb {
            padding-left: 0.5rem;
            justify-content: space-between;
            .selected-date {
              padding-right: 0;

              &.sd-bold {
                padding-left: 0;
              }
            }
          }
        }
      }
      .underline-booking {
        border: 1px solid grey;
        margin: 1rem 0;
      }
      .booking-price-container {
        margin-bottom: 1rem;
        .booking-price {
          display: flex;
          justify-content: space-between;
          &.mb1 {
            margin-bottom: 1rem;
            background-color: $color-surface-grey-tertiary;
          }
        }
      }

      .booking-link-container {
        text-decoration: underline;
        font-size: 0.75rem;
      }
    }
  }
  // _______________________

  //Offer-card
  .offers-container {
    margin: 1.5rem 0;

    .b-offer-content {
      background-color: $color-surface-grey-secondary;
      margin-bottom: 2rem;
    }
    .offers {
      margin: 0 0 3rem 0;
      &.b-offers {
        // padding: 1.5rem;
        @media (min-width: $desktop-breakpoint) {
          margin: 0;
          padding: 1.5rem;
        }
      }
      &.offers-mt {
        margin-top: 3rem;
      }
      .offer-card {
        background-color: $color-surface-grey-secondary;
        margin-bottom: 1rem;
        @media (min-width: $ipad-breakpoint) {
          min-height: 282px;
        }
        .offer-content {
          margin: 1.5rem 1rem 1.5rem 1rem;
          &.oc-booking {
            margin: 1rem;
          }
          .include-contianer {
            // padding-left: 1rem;
            ul {
              li {
                // list-style-type: disc;
              }
            }
          }
        }
        .offer-text {
          margin-bottom: 1rem;
          .booking-text-info {
            position: relative;
            max-height: 100px;
            overflow: hidden;
            transition: max-height 1s ease;
            &.-expanded {
              max-height: 100vh;
            }
          }
          .booking-text-info:not(.-expanded)::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 1)
            );
          }
        }
        .offer-selected {
          display: flex;
          justify-content: space-between;
          align-items: end;
          padding: 2rem 0 1rem 0;
          margin: 0rem 1rem;

          // .btn-select {
          //   flex: 0 0 40%;
          //   &.bs-optional {
          //     flex: 0 0 50%;
          //   }
          // }
        }
      }
    }
    .option-container {
      padding: 0 1rem;
      .select-time {
        font-family: "MonumentGrotesk";
        margin-bottom: 1rem;
        .btn-group {
          .option {
            position: relative;

            input {
              opacity: 0;
              position: absolute;
            }

            input:checked + span {
              background-color: #ffc107;
              &:hover,
              &:focus,
              &:active {
                background-color: #ffc107;
              }
            }

            .btn-option {
              padding: 1rem;
              // display: flex;
              background-color: transparent;

              &:hover,
              &:focus,
              &:active {
                background-color: transparent;
              }
            }
          }
        }
      }
      .massage-container {
        textarea {
          width: 100%;
          padding: 15px;
          margin: 0 0 1rem 0;
          border: 1px solid #b3b3b3;
          // border-radius: 20px;
          background: white;
          resize: none;
          min-height: 100px;
          color: #777;

          /* When the textarea gets focus, do something */
          &:focus {
            background-color: #ddd;
            outline: none;
          }
        }
      }
    }
  }

  @media (min-width: $ipad-breakpoint) {
    .offers-container {
      .option-container {
        padding: 0rem 1.5rem;

        .select-time {
          margin-bottom: 0.75rem;
        }
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    .offers-container {
      margin: 0;
      flex: 1;
      .offers {
        .offer-card {
          display: flex;
          // justify-content: space-between;
          &.offer-card-gap {
            gap: 1.5rem;
          }
          .offer-picture {
            flex: 0 0 35%;
            img {
              height: 100%;
              object-fit: cover;
            }
          }
          .offer-content {
            display: flex;
            flex: 0 0 35%;
            margin: 0;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem;

            &.oc-booking {
              flex: 0 0 63%;
              padding: 0;
              margin: 0;
            }

            .include-container {
              ul {
                li {
                  list-style-type: disc;
                }
              }
            }
          }
          .offer-selected {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 1.5rem 1.5rem 1.5rem 0;
            &.os-optinal {
              flex: 0 0 auto;
              padding: 1.5rem 0 1.5rem 0;
            }
            .btn-select {
              display: flex;
              align-items: flex-end;
            }
          }
        }
      }
    }
  }
}
