.payment-container {
  //   display: flex;
  //   justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  padding: 0.75rem 1rem;
  .payment-icons {
    display: none;
  }

  .info-text-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    .booking-modal {
      display: flex;
      gap: 12px;
      align-items: center;
      .selected-dates-section {
        margin-top: 64px;
        display: none;
        /* Add more styles here to make it look like a modal */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        // margin: auto;
        background-color: #f0f0f0;
        text-align: center;
        // max-width: 384px;

        @media (min-width: $desktop-breakpoint) {
          position: sticky;
          top: 0;
          max-height: 438px;
          flex: 0 0 33%;
        }

        .header-container {
          background-color: #d9d9d9;
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          width: 100%;
          span {
            display: flex;
            align-items: center;
          }
          .close-button {
            .close-modal-icon {
              display: flex;
              align-items: center;
            }
          }
        }

        .dates-wrapper {
          padding: 1rem 1rem 0 1rem;

          p {
            margin: 0.5rem;
          }
          .selected-dates-container {
            display: flex;
            justify-content: space-between;

            .invisible-link {
              flex: 0 0 45%;
              background-color: white;
              .single-date-container {
                .day-container {
                  background-color: #d9d9d9;
                  padding: 0.25rem 0.5rem;
                  .selected-day {
                    font-size: 1.25rem;
                  }
                }
                // .selected-date {
                //   font-size: 0.75rem;
                // }
                .selected-month {
                  font-size: 1.25rem;
                }
              }
            }
          }
          .details-container {
            padding: 2rem 0;
            .booking-details {
              text-align: left;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
        .change-search {
          display: flex;
          justify-content: center;
          padding: 0.75rem 0;
          background-color: red;
        }

        // ___________
        // Boooking card
        .booking-container {
          text-align: left;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100vh;
          height: calc(100vh - 2 * 1.5rem - 64px);
          .booking-selected {
            display: flex;
            gap: 1rem;
            margin-bottom: 2rem;
            .booking-img {
              flex: 0 0 30%;
            }
          }
          .booking-info-container {
            // margin-bottom: 1rem;
            // border-bottom: 2px solid black;
            display: none;
            &.expanded {
              display: block !important;
            }
            overflow: auto;
            .booking-info {
              display: flex;

              &.bi-bg {
                background-color: #d9d9d9;
              }
              &.bi-borderrb {
                border-bottom: 2px solid black;
              }
              &.b-flex-sb {
                justify-content: space-between;
                p {
                  padding: 0.5rem 0 0 0;
                }
              }

              .selected-date {
                padding: 0.5rem 1rem 0.5rem 0.5rem;

                &.sd-width {
                  flex: 0 0 30%;
                }
              }
              .list-includes {
                padding: 0.5rem 1rem 0.5rem 0.5rem;
              }
            }
          }
          .booking-price-container {
            margin-bottom: 1rem;

            .booking-price {
              display: flex;
              justify-content: space-between;
              &.mb1 {
                margin-bottom: 1rem;
              }
            }
            .keep-goto {
              margin-top: 1rem;
              display: flex;
              justify-content: space-between;
            }
          }

          .booking-link-container {
            text-decoration: underline;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

@media (min-width: $ipad-breakpoint) {
  .payment-container {
    .payment-content {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .payment-icons {
        display: block;
        display: flex;
        justify-content: space-between;

        .card-icon {
          background-color: #f0efeb;

          flex: 0 0 45%;
          .icon {
            width: 65px;
            height: 35px;
          }
        }
      }
      .info-text-buttons {
        .booking-modal {
          .cart-button {
            display: none;
          }
        }
      }
    }
  }
}
