.swiper-wrapper {
  min-height: 320px;
  align-items: center;
}
.swiper-slide {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  text-align: center;

  .premble-02 {
    line-height: 1.5;
  }
}
.containerSwiper {
  height: 320px !important;
}
.swiper-pagination-bullet-active {
  background-color: grey !important;
}
