@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/footer";
@import "layout/menu";

@import "components/accessibility";
@import "components/buttons";

@import "pages/home";

body {
  padding-top: 4rem;
}

img {
  width: 100%;
}
.stage-container {
  padding: 0rem 1.25rem;
  max-width: 800px;
  margin: auto;
  //boknings steg text
}

.stage-container-m {
  padding: 0rem 1.25rem;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: $desktop-breakpoint) {
  .stage-container {
    padding: 0;
  }
}
.top {
  text-align: center;
  margin: 2rem 0;
}

// _______________________
