@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/footer";
@import "layout/menu";

@import "components/accessibility";
@import "components/bookingStages";
@import "components/buttons";
@import "components/chat";
@import "components/confirmPage";
@import "components/containerFluid";
@import "components/countryPhone";
@import "components/datepicker";
@import "components/forms";
@import "components/experianceCard";
@import "components/hero";
@import "components/icons";
@import "components/selectCard";
@import "components/selectDates.scss";
@import "components/shopping.scss";
@import "components/bodyOne";

@import "pages/home";

body {
  // padding-top: 4rem;
  // padding-bottom: 4.25rem;
  background-color: $color-surface-grey-primaryi;
}

.booking-body-tag {
  background-color: $color-surface-grey-primaryi;
  padding-top: 4rem;
  padding-bottom: 4.25rem;
}

img {
  width: 100%;
}
.stage-container {
  padding: 0rem 1.25rem;
  max-width: 800px;
  margin: auto;
  //boknings steg text
}

.stage-container-m {
  padding: 0rem 1.25rem;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: $desktop-breakpoint) {
  .stage-container {
    padding: 0;
  }
}
.top {
  text-align: center;
  margin: 2rem 0;
}

// _______________________
