//Style för all typografi, dvs lägg inget som har med typ i någon annan partial
//Eftersom vi har nollställt all style, så kommer all text per default bli 16px, dvs ni måste bestämma storlek på allt

//Heading
$h1: 1.5rem;
$h2: 1.5rem;
$h3: 1.5rem;
$head-booking: 1rem;

// text
$s-font-size: 1rem;
$m-font-size: 1rem;
$l-font-size: 1rem;
$stage-font-size: 0.625rem;
$stageNum-font-size: 0.75rem;
$choose-booking: 1rem;

//Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.stageText {
  font-size: $stage-font-size;
  margin-top: 0.5rem;
}

//datepicker
.check {
  padding: 1rem;
  background-color: grey;
  .checkInfo {
    font-weight: $semi-bold;
  }
  .checkChoose {
    font-weight: $regular;
  }
}
