//Style för all typografi, dvs lägg inget som har med typ i någon annan partial
//Eftersom vi har nollställt all style, så kommer all text per default bli 16px, dvs ni måste bestämma storlek på allt

body {
  font-family: Ambit;
}
h1 {
  font-size: 3rem;
  @media (min-width: 768px) {
    font-size: 5rem;
  }
  @media (min-width: 992px) {
    font-size: 6rem;
  }
}
h2 {
  font-size: 3rem;
}
p {
  line-height: 1.2;
}
a {
  color: $primary-text-color;
  text-decoration: none;
}

// Booking header
.bokinghead {
  font-size: $b-headline-1-m;

  @media (min-width: $ipad-breakpoint) {
    font-size: $b-headline-1;
  }
}
.stageText {
  font-size: $stage-font-size;
  margin-top: 0.5rem;
}

// ____________________________

//datepicker

.checkInfo {
  font-weight: $semi-bold;
}
.checkChoose {
  font-weight: $regular;
}

// ________________________

//Booking choosed date
.selected-headline {
  font-size: $headline-booking;
}

.h2-booking {
  font-size: $b-headline-2-m;
  margin-bottom: $b-headline-2-m-mb;
}
.h3-booking {
  font-size: $b-headline-3-m;
  font-weight: $semi-bold;
  margin-bottom: $b-headline-3-m-mb;
  @media (min-width: $ipad-breakpoint) {
    font-size: $b-headline-3;
  }
}
.p-booking {
  font-size: $body-booking-s;
  margin-bottom: $body-booking-m-mb;
  @media (min-width: $ipad-breakpoint) {
    font-size: $body-booking-m;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: $body-booking-l;
  }
}

.booking-body {
  font-size: $body-booking-xs;
  font-weight: $regular;

  @media (min-width: $ipad-breakpoint) {
    font-size: $body-booking-m;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: $body-booking-l;
  }
}
.selected-date {
  font-size: 0.75rem;

  &.sd-bold {
    font-weight: $semi-bold;
  }
}

.span-booking {
  font-size: $body-booking-xs;
}
.span-price {
  font-weight: $semi-bold;
}
.span-include {
  font-size: $body-booking-xs;
}
@media (min-width: $desktop-breakpoint) {
  .span-include {
    &.include-ralign {
      text-align: right;
    }
  }
}
